$BACKGROUND: #222;
$TEXT-BACKGROUND: #222;

$TEXT-COLOR: #ddd;
$RED-ACCENT: #c13a27;

$LINK-COLOR: $TEXT-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: lighten($LINK-COLOR, 50%);

$MENU: $TEXT-COLOR;
$MENU-HOVER: lighten($MENU, 20%);

$TABLET-WIDTH: 780px;
$DESKTOP-COLUMN-WIDTH: 920px;
$COLUMN-HORIZONTAL-BORDER: 10px;

$MENU-HORIZONTAL-ITEM-SPACING: 50px;
$MENU-VERTICAL-MARGIN: 40px;
$PAGE-LATERAL-SPACE: 25px;
$LIST-VERTICAL-SPACING: 24px;
$RESPONSIVE-SPACING: 2vw;

$TRANSITION-PERIOD: 0.15s;

@mixin media-query($canvas) {
  @if $canvas == DESKTOP {
   @media only screen and (min-width: $TABLET-WIDTH) { @content; }
  }
}
