<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <div class="post-container">
        <div class="post-list-container">
          {% for post in site.posts %}
          <a class="post-list-item" href="{{ post.url }}">
            <div class="post-image-container">
              {% if post.cover %}
              <div class="post-image" style="background-image: url('{{ site.baseurl }}{{ post.cover }}');"></div>
              {% endif %}
            </div>

            <div class="post-title-container">
              {% assign daymonthyear = post.date | date: "%d %B %Y" %}
              <div class="post-title">{{ post.title }}</div>
              <div class="post-date">{{ daymonthyear }}</div>
              <div class="post-preview">{{ post.content | strip_html | truncatewords:50 }}</div>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
